.header{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height: 55px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:lightgrey;
  z-index: 100;
}

.left-section{
  display:flex;
  align-items: center;
}

.hamburger-menu{
  height:24px;
  margin-left:24px;
  margin-right: 24px;
}

.youtube-logo{
  height:20px;
}

.middle-section{
  display:flex;
  align-items: center;
  flex:1;
  margin-left:70px;
  margin-right:35px;
  max-width: 500px;
}

.search-bar{
  height:36px;
  flex:1;
  padding-left:10px;
  font-size: 16px;
  border: 1px solid rgb(216, 213, 213);
  border-radius: 2px;
  box-shadow: inset 1px 1px 3px rgba(0,0,0,0.15);
  width: 0;
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-button{
  height:40px;
  width:66px;
  background-color: rgb(247, 241, 241);
  border-color:rgb(216, 213, 213);
  border-style: solid;
  border-width: 1px;
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;

}

.search-button,
.voice-search-button,
.upload-button,
.youtube-apps-container,
.notifications-icon-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-button .tooltip,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip{
  background-color: gray;
  color: white;
  font-family:roboto, arial;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 2px;
  position: absolute;
  bottom:-38px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-button:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height:25px;

}

.voice-search-button{
  height:40px;
  width:40px;
  border-radius: 20px;
  border:none;
  background-color: rgb(247, 241, 241);
  position:relative;
}

.voice-search{
  height:23px;
}

.right-section{
  display:flex;
  width: 200px;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-button{
  background-color: none;
  border: none;
}

.upload{
  width:24px;
}

.youtube-apps{
  width:24px;
}

.notifications{
  width:24px;
}

.notifications-cnt{
  position:absolute;
  top:-2px;
  right:-5px;
  background-color: red;
  color:white;
  font-size: 11px;
  padding:2px 5px;
  border-radius: 12px;
}

.my-channel{
  width:32px;
  border-radius: 16px;
  border:none;
}
