p{
  margin:0px;
  font-family: Roboto, Arial;
  font-size: 15px;
  font-weight:600;
}

.info{
  display: grid;
  width:400px;
  border-width: 1px;
  border-color: grey;
  border-style: solid;
  border-style: solid;
  border-radius: 10px;
}

.row-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px 15px;
}

.row-right{
  background-color: rgb(68, 68, 236);
  color:white;
  border:none;
  font-family: roboto, arial;
  font-size: 15px;
  font-weight: 700;
  padding:10px 20px;
  border-radius: 18px;
}
