.div-box{
  display: inline-block;
  width: 370px;
  background-color: rgb(56, 56, 56);
  padding-left:15px;
  padding-right:15px;
  padding-top:8px;
  padding-bottom:8px;
  font-family: roboto;
}

.text1{
  font-size: x-large;
  font-weight: bolder;
  color: white;
}

.text2{
  color:rgb(178, 184, 189);
}