.fix{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 320px;
  height:180px;
  background-color: lightgray;
}

.close-button-container{
  position: absolute;
  top:-10px;
  left:-10px;
}

.close-button{
  background-color: black;
  color: white;
  border: none;
  width:30px;
  height:30px;
  border-radius: 100%;
  
}

.timestamp{
  position: absolute;
  right:8px;
  bottom:8px;
  
  background-color: black;
  color: white;
  font-family: roboto, arial;
  font-size: 14px;
  padding:3px 5px;
}