.right-sidebar{
  position: fixed;
  top:0;
  bottom:0;
  right: 0;
  width: 400px;
  background-color: green;
  color:white;
}

.overlay{
  display: flex;
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(0,0,0,0.5) ;
  align-items: center;
  justify-content: center;
}

.model{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:400px;
  height:120px;
  background-color: white;
  border-radius: 10px;
  padding:10px 20px;
}

.title{
  font-family: roboto;
  font-size:xx-large;
  font-weight: bolder;
  margin:0px;
  margin-bottom:10px;
}

.text{
  font-family: roboto;
  font-size: 18px;
  font-weight: 400;
  margin:0px;
  margin-bottom:10px;
}

.close-button{
  width:70px;
  font-family: roboto, arial;
  font-size: 16px;

}