.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding-left: 50px;
  padding-right:50px;

  position: fixed;
  top:0;
  height:56px;
  left: 0;
  right:0;
}

.header-left{
  display: flex;
  flex-direction: row;
  width: 300px;
  align-items: center;
}

.user-pic{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 15px;
}

.user-name{
  font-family: roboto, arial;
  font-size: 16px;
  font-weight: 700;
}

.header-right{
  display: flex;
  flex-direction: row;
  justify-content:right;
}

.add,
.message{
  font-family: roboto, arial;
  font-weight: 600;
  border:none;
  border-radius: 5px;
  padding:5px 10px;

}

.add{
  background-color: rgb(4, 99, 243);
  color:white;
  margin-right: 10px;
}
